* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-color: #8864a080;
    
}

header {
 background-color: rgba(69, 29, 97, 0.502);
 display: flex;
 padding: 18px;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.inicio_div{
    align-self: center;
    background-color:#e9dccc80;
    padding: 150px;
    margin-left: 80px;
    margin-right: 70px;


}

.resultado_div{
    align-self: center;
    background-color:#e9dccc80;
    padding: 150px;
    margin-right: 80px;
    margin-top: 10px;
}

#demo2 {
    display: none;
    background-color: #dcdcdc; 
    border-radius: 5px; 
    padding: 5px; 
    color: rgb(0, 0, 0); 
    width: 15%; 
    height: 40px; 
    font-weight: 500
}

#demo3 {
    display: none;
    background-color: #dcdcdc;
    border-radius: 5px; 
    padding: 5px; 
    color: rgb(7, 7, 7); 
    width: 15%; 
    height: 40px; 
    font-weight: 500;
}

#demo4 {
  display: none; 
  background-color: #dcdcdc;
   border-radius: 5px; 
   padding: 5px; 
   color: rgb(5, 5, 5); 
   width: 60%; 
   height: 50px; 
   font-weight: 500
}

#titulo{
    background-color: blueviolet;
}